/* src/components/Toast.css */
.toast {
    position: fixed;
    bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: fadeInOut 3s ease forwards;
    width: auto; /* Permite que o conteúdo defina a largura */
}

.toast.success {
    background-color: #4caf50;
}

.toast.error {
    background-color: #f44336;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}
