.container-login-form {
    background-color:  #f3f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 35rem;
    -webkit-box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.50);
    box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.50);
    border-radius: 5px;
    
}

.container-login-form img {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 1.3rem;

}
.login-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    height: 100%;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 20rem;
    /* height: 15rem; */
}

input {
    width: 100%;
    height: 2rem;
    border: #5B7A97;
    border-width: 5px;
}

input:focus {
    outline: #5B7A97;
}

h2 {
    color: #5B7A97;
    font-size: 24px;
    font-weight:normal;
}

label {
    font-weight: normal;
    justify-content: space-between;
}

button {
    background-color: #B7EB21;
    font-weight: normal;
    height: 40px;
    color: #2b3a47;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

button:hover {
    opacity: 50%;
}

a {
    color: #28d169;
    align-self: center;;
}

