.container-navbar {
    display: flex;
    flex-direction: row;
    background-color:  #f3f1f1;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

#logo {
    max-width: 5rem;
    max-height: 5rem;
    margin-top: 2rem;
}

#searchbar {
    max-width: 500px;
    border-radius: 10px;
    background-color: #5B7A97;
    color: #f3f1f1;
}

#container-searchbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.navbar-icons {
    margin-right: 2rem;
}

.navbar-icons img{
    max-width: 5rem;
    max-height: 5rem;
}


button {
    background-color: #5B7A97;
    color: #f3f1f1;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
}